@import 'variables';
@import '_mixes';

body, h3, span{  
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;

  background: $veryLightGray;
}

.content{
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.header{
  height: 40vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-left: 2rem;
  padding-right: 2rem;

  color: $veryDarkBlue;

  .lema{
    font-weight: 100;
    font-size: xx-large;
  }

  .offer{
    font-weight: 600;
    font-size: xx-large;
  }

  .description{    
    color: $grayishBlue;
    max-width: 540px;
    text-align: center;    
  }
}

.cards{
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);

  margin: 2rem;

  position: relative;

  .item-1{
    grid-row-start: 2;
    grid-row-end: 4;

    @include boxes();    
  }  

  .item-2{
    grid-row-start: 1;
    grid-row-end: 3;

    @include boxes();

    &::after{
      position: absolute;
      background: red;
      content: '';
      height: 5px;
      top: 0;
      width: 300px;
      border-top-left-radius: 5px;
    }
  
  }

  .item-3{
    grid-row-start: 3;
    grid-row-end: 5;

    @include boxes();    
  }

  .item-4{
    grid-row-start: 2;
    grid-row-end: 4;

    @include boxes();    
  }
  
  .logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: 1rem;
  }
  
}


