body, h3, span {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

.content {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #4c4e61;
}

@media only screen and (max-width: 800px) {
  .header {
    margin-top: 3rem;
  }
}

.header .lema {
  font-weight: 100;
  font-size: xx-large;
}

@media only screen and (max-width: 800px) {
  .header .lema {
    font-size: x-large;
    text-align: center;
  }
}

.header .offer {
  font-weight: 600;
  font-size: xxx-large;
}

@media only screen and (max-width: 800px) {
  .header .offer {
    font-size: xx-large;
    text-align: center;
  }
}

.header .description {
  color: #a3a5ae;
  max-width: 540px;
  text-align: center;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 2rem;
  position: relative;
}

@media only screen and (max-width: 425px) {
  .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.cards .item-1 {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: -4px 7px 13px 0px #d9e2ed;
          box-shadow: -4px 7px 13px 0px #d9e2ed;
  border-top: 5px solid #45d3d3;
  max-width: 250px;
  margin: 1rem;
  padding: 2rem;
  background: white;
  -webkit-animation: fadeContent 1s ease-in-out forwards;
          animation: fadeContent 1s ease-in-out forwards;
}

.cards .item-1 h3 {
  padding-bottom: .7rem;
  color: #4c4e61;
}

.cards .item-1 span {
  color: #a3a5ae;
  min-width: 224px;
  font-size: small;
}

@media only screen and (max-width: 425px) {
  .cards .item-1 {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    max-height: 220px;
  }
}

@media only screen and (max-width: 800px) {
  .cards .item-1 {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
}

.cards .item-2 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: -4px 7px 13px 0px #d9e2ed;
          box-shadow: -4px 7px 13px 0px #d9e2ed;
  border-top: 5px solid #ea5353;
  max-width: 250px;
  margin: 1rem;
  padding: 2rem;
  background: white;
  -webkit-animation: fadeContent 2s ease-in-out forwards;
          animation: fadeContent 2s ease-in-out forwards;
}

.cards .item-2 h3 {
  padding-bottom: .7rem;
  color: #4c4e61;
}

.cards .item-2 span {
  color: #a3a5ae;
  min-width: 224px;
  font-size: small;
}

@media only screen and (max-width: 425px) {
  .cards .item-2 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    max-height: 220px;
  }
}

@media only screen and (max-width: 800px) {
  .cards .item-2 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
}

.cards .item-3 {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 5;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: -4px 7px 13px 0px #d9e2ed;
          box-shadow: -4px 7px 13px 0px #d9e2ed;
  border-top: 5px solid #fcaf4a;
  max-width: 250px;
  margin: 1rem;
  padding: 2rem;
  background: white;
  -webkit-animation: fadeContent 4s ease-in-out forwards;
          animation: fadeContent 4s ease-in-out forwards;
}

.cards .item-3 h3 {
  padding-bottom: .7rem;
  color: #4c4e61;
}

.cards .item-3 span {
  color: #a3a5ae;
  min-width: 224px;
  font-size: small;
}

@media only screen and (max-width: 425px) {
  .cards .item-3 {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    max-height: 220px;
  }
}

@media only screen and (max-width: 800px) {
  .cards .item-3 {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
}

.cards .item-4 {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: -4px 7px 13px 0px #d9e2ed;
          box-shadow: -4px 7px 13px 0px #d9e2ed;
  border-top: 5px solid #549ef2;
  max-width: 250px;
  margin: 1rem;
  padding: 2rem;
  background: white;
  -webkit-animation: fadeContent 3s ease-in-out forwards;
          animation: fadeContent 3s ease-in-out forwards;
}

.cards .item-4 h3 {
  padding-bottom: .7rem;
  color: #4c4e61;
}

.cards .item-4 span {
  color: #a3a5ae;
  min-width: 224px;
  font-size: small;
}

@media only screen and (max-width: 425px) {
  .cards .item-4 {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
    max-height: 220px;
  }
}

@media only screen and (max-width: 800px) {
  .cards .item-4 {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
  }
}

.cards .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 2rem;
}

@-webkit-keyframes fadeContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */