@import 'variables';
@import '_mixes';
@import '_mediaQueries';

body, h3, span{  
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;

  background: $veryLightGray;
}

.content{
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.header{
  height: 25vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-left: 2rem;
  padding-right: 2rem;

  color: $veryDarkBlue;

  @include responsive(tablet){
    margin-top: 3rem;
  }

  .lema{
    font-weight: 100;
    font-size: xx-large;

    @include responsive(tablet){
      font-size: x-large;
      text-align: center;  
    }
  }

  .offer{
    font-weight: 600;
    font-size: xxx-large;

    @include responsive(tablet){
      font-size: xx-large;
      text-align: center;  
    }

  }

  .description{    
    color: $grayishBlue;
    max-width: 540px;
    text-align: center;    
  }
}

.cards{
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  @include responsive(mobile){
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;  
  }

  @include responsive(tablet){
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;  
  }

  margin: 2rem;

  position: relative;



  .item-1{
    grid-row-start: 2;
    grid-row-end: 4;

    @include boxes($cyan);          

    @include responsive(mobile){
      grid-row-start: 1;
      grid-row-end: 2;        
      
      max-height: 220px;
    }

    @include responsive(tablet){
      grid-row-start: 1;
      grid-row-end: 2;        
    }
    
  }  

  .item-2{
    grid-row-start: 1;
    grid-row-end: 3;

    @include boxes($red);

    @include responsive(mobile){
      grid-row-start: 2;
      grid-row-end: 3;        

      max-height: 220px;      
    }

    @include responsive(tablet){
      grid-row-start: 2;
      grid-row-end: 3;        
    }
  
  }

  .item-3{
    grid-row-start: 3;
    grid-row-end: 5;

    @include boxes($orange);    

    @include responsive(mobile){
      grid-row-start: 3;
      grid-row-end: 4;        

      max-height: 220px;
    }

    @include responsive(tablet){
      grid-row-start: 3;
      grid-row-end: 4;        
    }

  }

  .item-4{
    grid-row-start: 2;
    grid-row-end: 4;

    @include boxes($blue);    

    @include responsive(mobile){
      grid-row-start: 4;
      grid-row-end: 5;        

      max-height: 220px;
    }

    @include responsive(tablet){
      grid-row-start: 4;
      grid-row-end: 5;        
    }

  } 
  
  .logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: 2rem;
  }
  
}


